//colors

$primary-color: #ff9900
$body-Bg: #F8F8F8
$black: #040000
$green-500: #4CAF50
$light-grey: #D6D5D5
$border-color: #E6E6E6

$blue: #269DD7
$orange: #FD8335
$pink: #DB00DB
$deepAqua: #00887C

$placeholder-color: #B6B6B6
$teal-green: #00887C
$border-color-600: #626C61
$red-color: #EF4136