.datepicker-input-main-section
  .react-datepicker-wrapper
    width: 100%
  input
    font-size: $font-6
    border-radius: 8px
    min-height: 44px
    font-weight: 500
    padding: 6px 44px 6px 12px
    font-family: FontMedium
    width: 100%
    border: 1px solid $border-color !important
    box-shadow: none !important
    outline: none !important
  .react-datepicker__view-calendar-icon input
    padding: 6px 44px 6px 12px
  .react-datepicker__calendar-icon
    right: 12px
    padding: 0 !important
    height: 20px
    width: 20px
    top: 50%
    transform: translateY(-50%)

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list
  flex-direction: column
  li
    font-size: 12.8px
    margin-left: 0
