/*Font family*/
@font-face
  font-family: FontRegular
  //src: url("../../../public/assets/inter/Inter-regular.ttf") format("truetype")
  src: url("../../../public/assets/Quicksand/Quicksand-Regular.ttf") format("truetype")

@font-face
  font-family: FontMedium
  //src: url("../../../public/assets/inter/Inter-Medium.ttf") format("truetype")
  src: url("../../../public/assets/Quicksand/Quicksand-Medium.ttf") format("truetype")

@font-face
  font-family: FontSemiBold
  //src: url("../../../public/assets/inter/Inter-SemiBold.ttf") format("truetype")
  src: url("../../../public/assets/Quicksand/Quicksand-SemiBold.ttf") format("truetype")

@font-face
  font-family: FontBold
  //src: url("../../../public/assets/inter/Inter-Bold.ttf") format("truetype")
  src: url("../../../public/assets/Quicksand/Quicksand-Bold.ttf") format("truetype")



/*Font Guide*/
$font-1: 48px
$font-2: 36px
$font-3: 28px
$font-4: 22px
$font-5: 18px
$font-6: 16px
$font-7: 14px
$font-8: 12px


h1
  font-size: $font-1
  font-family: FontBold
  font-weight: 700

h2
  font-size: $font-2
  font-family: FontBold
  font-weight: 700
h3
  font-size: $font-3
  font-family: FontSemiBold
  font-weight: 600
h4
  font-size: $font-4
  font-family: FontMedium
  font-weight: 500
h5
  font-size: $font-5
  font-family: FontRegular
  line-height: 22px
h6
  font-size: $font-6
  font-family: FontRegular
  font-weight: 500
p
  font-size: $font-7

small
  font-size: $font-8

label
  color: $black
  font-size: $font-6
  font-weight: 600
  margin-bottom: 5px
//width: max-content
a
  font-size: $font-6
  text-decoration: none
  color: $black

ul, ol
  display: flex
  margin-bottom: 0px
  li
    margin-left: $space3
    font-size: $font-6

hr
  //background: $border-color
  color: $border-color

img
  object-fit: cover
.fs-5
  font-size: $font-5 !important
.fs-6
  font-size: $font-6
.fs-7
  font-size: $font-7
.fs-8
  font-size: $font-8

.pointer
  cursor: pointer

.fw-medium
  font-family: FontMedium !important
.fw-semibold
  font-family: FontSemiBold !important
.fw-bold
  font-family: FontBold !important
.fw-normal
  font-family: FontRegular  !important

.fs-7
  font-size: $font-7
.fs-8
  font-size: $font-8
.fs-42
  font-size: 42px !important